<a href="https://colab.research.google.com/github/taguinara/data_science/blob/main/sistema_de_cadastro_de_alunos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nomes = []
idades = []

In [ ]:
for i in range(3):
    nome = input(f"Digite o nome do aluno {i+1}: ")
    idade = int(input(f"Digite a idade do aluno {i+1}: "))
    nomes.append(nome)
    idades.append(idade)

Digite o nome do aluno 1: tainara
Digite a idade do aluno 1: 31
Digite o nome do aluno 2: shanara
Digite a idade do aluno 2: 23
Digite o nome do aluno 3: dayane
Digite a idade do aluno 3: 28

In [ ]:
print("\n--- Lista de todos os alunos ---")
for i in range(3):
    print(f"Nome: {nomes[i]}, Idade: {idades[i]}")

--- Lista de todos os alunos ---
Nome: tainara, Idade: 31
Nome: shanara, Idade: 23
Nome: dayane , Idade: 28

In [ ]:
print("\n--- Alunos maiores de 18 e nome começando com 'A' ---")
for i in range(3):
    if idades[i] > 18 and nomes[i].startswith('A'):
        print(f"Nome: {nomes[i]}, Idade: {idades[i]}")

--- Alunos maiores de 18 e nome começando com 'A' ---

In [ ]:
print("\n--- Alunos menores de 12 ou nome começando com 'M' ---")
for i in range(3):
    if idades[i] < 12 or nomes[i].startswith('M'):
        print(f"Nome: {nomes[i]}, Idade: {idades[i]}")

--- Alunos menores de 12 ou nome começando com 'M' ---

In [ ]:
for nome, idade in zip(nomes, idades):
    primeira_letra = nome[0].upper()

    if (idade >= 18) and (primeira_letra == "A"):
        print(f"Nome: {nome:<20} | Idade: {idade}")