<a href="https://colab.research.google.com/github/taguinara/data_science/blob/main/sistema_simples_de_cadastro_de_alunos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Sistema simples de cadastro de alunos**

In [ ]:
TAMANHO = 5

In [ ]:
nomes = []
idades = []

In [ ]:
print("=" * 40)
print("  Sistema Simples de Cadastro de Alunos  ")
print("=" * 40)

========================================
  Sistema Simples de Cadastro de Alunos
========================================

In [ ]:
for i in range(TAMANHO):
    print(f"\n--- Aluno {i + 1} ---")

--- Aluno 1 ---

--- Aluno 2 ---

--- Aluno 3 ---

--- Aluno 4 ---

--- Aluno 5 ---

In [ ]:
    nome_aluno = input("Digite o nome do aluno: ")
    nomes.append(nome_aluno)

Digite o nome do aluno: ana

In [ ]:
while True:
        try:
            idade_aluno = int(input("Digite a idade do aluno: "))
            idades.append(idade_aluno)
            break
        except ValueError:
            print("Entrada inválida. Por favor, digite um número inteiro para a idade.")

print("\n" + "-" * 20)

Digite a idade do aluno: 20

--------------------

In [ ]:
print("\n" + "=" * 40)
print("  Lista de Todos os Alunos Cadastrados   ")
print("=" * 40)

========================================
  Lista de Todos os Alunos Cadastrados
========================================

In [ ]:
for nome, idade in zip(nomes, idades):
    print(f"Nome: {nome:<20} | Idade: {idade}")

Nome: Ana                  | Idade: 20

In [ ]:
print("\n" + "=" * 60)
print(" Alunos >= 18 ANOS E nome começa com 'A' (Operador AND) ")
print("=" * 60)

============================================================
 Alunos >= 18 ANOS E nome começa com 'A' (Operador AND)
============================================================

In [ ]:
for nome, idade in zip(nomes, idades):
    primeira_letra = nome[0].upper()

    if (idade >= 18) and (primeira_letra == "A"):
        print(f"Nome: {nome:<20} | Idade: {idade}")

Nome: Ana                  | Idade: 20

In [ ]:
for nome, idade in zip(nomes, idades):
      primeira_letra = nome[0].upper()

In [ ]:
    if (idade < 12) or (primeira_letra == "M"):
        print(f"Nome: {nome:<20} | Idade: {idade}")